@import "./partials/variables";

// header

.header__lista:hover{
      border-bottom: 0.5px solid white;

}

// seccion foto intro

.portofinoEventos{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url(../imagenes/eventos3.jpg);
    position: relative;
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;

    margin-top: -20px;
}

.portofino{
    position: relative;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-right: 380px;
    font-size: 100px;
    word-spacing: 20px;
}

.portofinoParrafo{
    color: white;
    font-size: 50px;
    position: relative;
    text-align: center;
    padding-right: 670px;
    padding-top: -10px;
    padding-bottom: 30px;
    letter-spacing: 6px;
}

.botonGaleria{
    position: relative;
    color: white;
    margin-left: 120px;
    margin-top: -600px;
    padding: 11px 45px;;
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: #e68387;
    background-repeat: no-repeat;
    border-radius: 30px;
    text-decoration: none;

}

.botonGaleria:hover{
    background-color: darken(white, 5%);
    color: black ;
    border: 1px solid #F8B1F8 ;
    transition: .2s ease;
}

  

// seccion bienvenidos 
.intro{
    background-color: $color_negro;
    padding-top: ($padding)-65;
    color: $color_blanco;
    padding-bottom: $padding/2;


    &__titulo{
    text-align: left;
    margin-bottom: ($margin/2)-20;
    margin-left: ($margin/2)-30;
    color: $color_blanco;
    font-family: $title_font;
    }

    &__parrafo{
    text-align: left;
    color: $color_blanco;
    margin-left: 20px;
    }
}


// presentacion quienes somos

.presentacion{
    text-align: center;
    margin-top: $margin/2;
    
    &__qs{
        margin-top: ($margin/2)-10;
        margin-bottom: ($margin)-20;
    }
}

// seccion servicios

.servicios{
    margin-top: $margin/2;
    margin-bottom: $margin;
    
    &__titulo{
        font-family: $title_font;
        text-align: left;
    }
    &__parrafo{
        margin-bottom: ($margin/2)-20;
        color: $color_negro;
    }
    &__catering{
        margin-left: ($margin)+20;
        margin-top: ($margin)-200;
        font-family: $title_font;
    }
    &__parrafcate{
        margin-left: ($margin)+20;
        color: $color_parrafos;
    }
    &__ambien{
        margin-left: ($margin)+20;
        margin-top: ($margin)-180;
       font-family: $title_font;
    }
    &__parrafambient{
        margin-left: ($margin)+20;
        color: $color_parrafos;
    }
    
}

// video

.video{
    height: 100%;
    width: 100%;
}

// footer

.footer{
    background-color: white;
    padding-top: 50px;
    
        &__dire{
            color: $color_parrafos;
            margin-bottom: $margin/2;
        }
        &__consulta{
            color: $color_parrafos;
        }
        &__h3{
            margin-bottom: ($margin/2)-20;
            font-weight: 400;
        }
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

// seccion contacto

.solicite{
    font-weight: 500;
    padding-bottom: 20px;
    position: relative;
    text-align: left;
    font-size: 40px;
    color: #4B4A4A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-left: 150px;
}

.entrevista{
    border-width: 1px;
    border-color: rgba(0,0,0,0.12);
}

.nombre{
    margin-bottom: 30px;
    font-size: 20px;
  
}

.telefono{
    margin-bottom: 30px;
    font-size: 20px;
}

.invitados{
    width: 320px;
}

.mail{
    margin-bottom: 30px;
    font-size: 20px;
}

.evento{
    width: 320px;
    margin-bottom: 30px;
}

.boton {
    display: inline-block;
    border-radius: 1px;
    height: 45px;
    border-color: white;
    padding: 0;
    margin-right: 110px;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 30%;
    background-color: #F8B1F8 ;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: .2s ease;
    float: right;
    
    &:hover {
      background-color: darken(white, 5%);
      color: black ;
      border: 1px solid #F8B1F8 ;
      
      transition: .2s ease;
    }
  }

.fotoContacto{
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

// galeria

.galeria{
    font-family: "open sans";
}

h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.galeria-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: 150px;
    padding: 20px;
    grid-gap: 5px;
}

.galeria__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria__item:nth-child(6){
    grid-row-start: span 2;
}

.galeria__item:nth-child(2){
    grid-column-start: span 2;
}

.galeria__item:nth-child(12){
    grid-column-start: span 2;
}

.galeria__item:nth-child(5){
    grid-row-start: span 2;
}

.galeria__item:nth-child(11){
    grid-column-start: span 2;
}



// div.galeria {
//     border: 1px solid #ccc;
//     }
//     div.galeria:hover {
//     border: 1px solid #777;
//     }
//     div.galeria img {
//     width: 100%;
//     height: auto;
//     }
//     div.desc {
//     padding: 15px;
//     text-align: center;
//     }
//     * {
//     box-sizing: border-box;
//     }
//     .responsive {
//     padding: 0 6px;
//     float: left;
//     width: 24.99999%;
//     }
    

// media quire

// @media (max-width: 1199px) {
//     .u-section-1 .u-sheet-1 {
//       min-height: 660px;
//     }
  
//     .u-section-1 .u-text-2 {
//       margin-right: 459px;
//     }
//   }
  
//   @media (max-width: 991px) {
//     .u-section-1 .u-sheet-1 {
//       min-height: 506px;
//     }
  
//     .u-section-1 .u-text-2 {
//       margin-right: 239px;
//     }
//   }
  
//   @media (max-width: 767px) {
//     .u-section-1 .u-sheet-1 {
//       min-height: 380px;
//     }
  
//     .u-section-1 .u-text-2 {
//       margin-right: 59px;
//     }
//   }
  
//   @media (max-width: 575px) {
//     .u-section-1 .u-sheet-1 {
//       min-height: 239px;
//     }
  
//     .u-section-1 .u-text-1 {
//       font-size: 3.75rem;
//     }
  
//     .u-section-1 .u-text-2 {
//       margin-right: 0;
//     }
// }

// @media only screen and (max-width: 700px) {
//     .responsive {
//     width: 49.99999%;
//     margin: 6px 0;
//     }
//     }
//     @media only screen and (max-width: 500px) {
//     .responsive {
//     width: 100%;
//     }
//     }
//     .clearfix:after {
//     content: "";
//     display: table;
//     clear: both;
//     }